<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WordsPuzzles01" value="TestData/WordsPuzzles01.txt" />
    <add key="WordsPuzzles02" value="TestData/WordsPuzzles02.txt" />
    <add key="WordsPuzzles03" value="TestData/WordsPuzzles03.txt" />
    <add key="WordsPuzzles04" value="TestData/WordsPuzzles04.txt" />
    <add key="Punishment" value="TestData/Punishment.txt" />
  </appSettings>
</configuration>